@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    background: #f5f5f5;
}

.form{
    display: flex ;
    flex-direction: column;
}
.error{
    color: #D55;
}

.item-input{
    width: 100%;
    flex-grow: 1;
    margin: 20px;
    margin-bottom: 0px;
}

.input-text, .input-date{
    width: 100%;
    padding: 6px;
    border-radius: 6px;
}

.item-group{
    display: flex;
}

.input-area{
    width: 100%;
    padding: 6px;
    border-radius: 6px;
    min-height: 100px;
}

.submit{
    background: linear-gradient(90deg, #4A4063 0%, #BFACC8 100%);
    padding: 12px;
    border-radius: 12px;
    width: 200px;
    margin: auto;
    margin-top: 10px;
    font-size: 16px;
    color: #eee;
  }

.submit:hover {
    color: #ffffff;
}

.menu-pacientes{
    text-align: end;
    width: 100%;
    margin-top: 20px;
    
}
.tabla-pacientes td,
.tabla-pacientes th{
    padding: 12px;
    text-wrap: nowrap;
}

.tabla-pacientes{
    max-height: 200px;
    overflow: auto;
}