@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
  background: #f5f5f5;
}
.sidebar {
  color: #000;
  background-color: #BFACC8 ;
}
.head{
  padding: 0;
  background: #f5f5f5;
}
.menu-bar{
    height: 88vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1rem;
    position: relative;
    background-color: #BFACC8 !important; /* Fondo del menú al igual que el sidebar */
    color: #000; /* Color de texto */
  }
  /* Estilo para el degradado en los elementos seleccionados o al pasar el mouse */
  .ant-menu-item:hover, .ant-menu-item-selected {
    background: linear-gradient(90deg, #4A4063 0%, #BFACC8 100%) !important; /* Degradado en el ítem seleccionado */
    color: #fff !important; /* Color de texto en el ítem seleccionado */
  }

  .content{
    padding: '24px'
  }

*{
    box-sizing: border-box;
}

main{
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}
  /* .stylePacientes{
    background: #f5f5f5;
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
  } */