body{
  margin: 0;
  padding: 0;
}
.sidebar {
  color: #000;
  background-color: #BFACC8 ;
}
.head{
  padding: 0;
  background: #fff;
}
.menu-bar{
    height: 88vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1rem;
    position: relative;
    background-color: #BFACC8 !important; /* Fondo del menú al igual que el sidebar */
    color: #000; /* Color de texto */
  }
  /* Estilo para el degradado en los elementos seleccionados o al pasar el mouse */
  .ant-menu-item:hover, .ant-menu-item-selected {
    background: linear-gradient(90deg, #4A4063 0%, #BFACC8 100%) !important; /* Degradado en el ítem seleccionado */
    color: #fff !important; /* Color de texto en el ítem seleccionado */
  }

  .content{
    padding: '24px'
  }