/* General Styles */
.vh-100 {
    height: 100vh;
  }
  .login-background {
    background-color: #4A4063;
  }
  .login-card {
    border-radius: 1rem;
    width: 80%;  /* Aumenta el ancho de la tarjeta */
    margin: auto;
    height: 463px;
  }

  .login-img {
    border-radius: 1rem 0 0 1rem;
  }
  .login-icon {
    color: #ff6219;
  }
  
  /* Form Styles */
  .form-control {
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    padding: 0.75rem;
    font-size: 1rem;
  }
  
  .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .btn-dark {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1.1rem;
  }
  
  .btn-dark:hover {
    background-color: #23272b;
    border-color: #333;
  }
  
  /* Text Styles */
  .text-muted {
    font-size: 0.875rem;
  }
  